parameters:
  level: max
  bootstrapFiles:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - stubs.php
  excludePaths:
    - */vendor/*
    - stubs.php
  paths:
    - pixel-art.php
    - src
